body {
    background-image: url(../img/bg-home.jpg);
    background-size: cover;
    height: 800px;
}

.box {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    margin: 80px auto;
    transition: .4s;
}

.box:hover {
    box-shadow: 0 0 30px 4px rgba(91, 181, 206, 0.8);
}

.navbar .ul1 li:nth-child(2) {
    background-color: blue;
    border-radius: 10px;
}

.navbar .ul1 li:hover {
    background-color: blue;
    border-radius: 10px;
}

.navbar .ul1 li {
    margin-right: 10px;
}